@model TrashCollector.Models.FilterDayViewModel

@{
    ViewData["Title"] = "FilterDays";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>FilterDays</h1>


<form asp-action="FilterDays">

    <div class="form-group">
        <label asp-for="Day" class="control-label"></label>
        <input asp-for="Day" class="form-control" />
        <span asp-validation-for="Day" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Filter" class="btn btn-primary" />
    </div>
</form>
